<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Blog</title>
	
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap -->

	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">


	<!-- Medium Style Editor -->
	<script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One" rel="stylesheet">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body class="loader">

	<!-- NAVBAR -->

	<nav class="navbar navbar-expand-sm bg-light techfont custom-navbar">
		<div class="container">

			<ul class="navbar-nav align-items-center">
				
				<li class="nav-item"><a class="navbar-brand bigbrand" href="{% url 'post_list' %}">My blog</a></li>
				<li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
				<li class="nav-item"><a class="nav-link" href="https://github.com">Github</a></li>
				<li class="nav-item"><a class="nav-link" href="https://linkedin.com">LinkedIn</a></li>

			</ul>	

			<ul class="navbar-nav navbar-right align-items-center">
				
				{% if user.is_authenticated %}

					<li class="nav-item"><a class="nav-link" href="{% url 'post_new' %}">New Post</a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'post_draft_list' %}">Drafts</a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
					<li class="nav-item"><a class="nav-link">Welcome: {{ user.username }}</a></li>

				{% else %}
					
					<li class="nav-item navbar-right"><a class="nav-link" href="{% url 'login' %}"><span class="fa fa-user"></span></a></li>

				{% endif %}

			</ul>

		</div>
	</nav>

	<!-- CONTENT BLOCK -->

	<div class="content container">
		
		<div class="row">
				
			<div class="col-md-8">
				
				<div class="blog_posts">
					
					{% block content %}
					{% endblock %}

				</div>

			</div>	

		</div>

	</div>

	
</body>
</html>